.large-article-header {
	background: url("https://images.unsplash.com/photo-1552820728-8b83bb6b773f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
		no-repeat center;
	background-size: cover;
	height: 40.25rem;
	position: relative;
	max-width: 99.5%;
}

@media screen and (max-width: 39.9375em) {
	.large-article-header {
		height: 20.83333rem;
		max-width: 99.5%;
	}
}

.large-article-header-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	bottom: 13.925rem;
	left: 0;
	right: 0;
}

@media screen and (max-width: 39.9375em) {
	.large-article-header-content {
		bottom: 1.25rem;
	}
}

.large-article-header-content .center-container {
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 39.9375em) {
	.large-article-header-content .center-container {
		width: 100%;
		padding: 0 1.25rem;
	}
}

.large-article-header-content .article-date {
	color: #fefefe;
}

.large-article-header-content .article-title h1 {
	line-height: 3.125rem;
	color: #fefefe;
	font-weight: 600;
}

@media screen and (max-width: 39.9375em) {
	.large-article-header-content .article-title h1 {
		line-height: 1.875rem;
	}
}

.large-article-header-content .article-details {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.large-article-header-content .article-details a {
	color: #fefefe;
}

.large-article-header-content .article-author {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 1rem 0;
}

.large-article-header-content .article-author img {
	border-radius: 3.125rem;
}

.large-article-header-content .article-author a {
	margin-left: 1rem;
}

.index-image {
	opacity: 1;
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.index-image:hover {
	-webkit-filter: drop-shadow(-1px 1px 8px #fafafa);
}
.index-image.custom:hover,
.index-image.custom:focus {
	transition: 0.9s;
	transform: scale(1.15);
}

.search {
	margin-top: 10rem;
}

.profile-image {
	border-radius: 50%;
	display: block;
	width: 47px;
	position: absolute;
	top: 0.4rem;
	right: 2.2rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}

#user_profile_photo {
	width: 30%;
	text-align: center;
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	color: white;
	padding: 12.24px 14.4px;
	font-family: "Open sans", sans-serif;
}
