.show-text{
  color: white;
  padding: auto;
  font-size: large;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.show-text{
  color: white;
}

.show-page {
  margin: 1rem 5rem;
}

.work-feature-block {
  padding: 10px 0;
}

.work-feature-block-image {
  margin-left:15%;
 float:left; 
 width: 25rem;
 }

.row{
  align-self: start;;
}

.ul-list {
  width:100%;
  height:auto;
  padding: 0 5% 5% 0;
  color: white;
  margin-left: 40rem;
  list-style-type: none;
  font-family: 'Open sans', sans-serif;

}

.details {
  color: white;
  margin-left: 38.5rem;
  padding: 0 1rem;
  font-weight: bold;
  font-family: 'Open sans', sans-serif;

}

.edit-form {
  margin: 0 0.5rem;
  width: 30rem;
}