.show-form {
	width: 40%;
	margin: 0 auto;
}

.show-form-text {
	text-align: center;
	color: white;
	margin-top: 1.5rem;
}

.show-name {
	color: white;
	padding: 1rem 1rem 0 1rem;
}

.edit {
	padding: 0 1rem 1rem 0rem;
	font-family: sans-serif;
	font-weight: bold;
}

.edit:hover {
	cursor: pointer;
	color: rgb(109, 109, 109);
}

.read-more {
	color: white;
	font-weight: bold;
	transition: all 2s;
}

.read-more:hover {
	cursor: pointer;
}
