.show-text{
  color: white;
  padding: auto;
  font-size: large;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.show-text{
  color: white;
}

.show-page {
  margin: 1rem 5rem;
}

.work-feature-block {
  padding: 10px 0;
}

.work-feature-block-image {
  justify-content: flex-start;
  margin: auto;
  padding: 10px 0;
  width: 50%;
}

.row{
  display: row;
  text-decoration: none;
}